---
layout: default
title: 404
permalink: /404.html
---

<div class="text-center">
<h1 class="display-1 mt-5 mb-4"><span class="badge badge-danger">404</span> Böyle bir sayfa bulunmuyor!</h1>
<p>Lütfen arama kısmını kullanın ya da <a href="{{site.baseurl}}/">anasayfamızı</a> ziyaret edin.</p>
</div>
