---
layout: default
title: Arşiv
---

<!-- Begin List Posts
================================================== -->
<section class="recent-posts">
<div class="section-title">
    <h2><span class="text-capitalize">{{ page.title }}</span></h2>
</div>
<div class="row listrecent">

{% for post in page.posts %}

    {% include postbox.html %}

{% endfor %}

</div>
</section>
